.vscode

bin/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/test_embindings
src/voro++
examples/basic/import
examples/basic/platonic
examples/basic/random_points
examples/basic/single_cell
examples/custom/cell_statistics
examples/custom/custom_output
examples/custom/radical
examples/degenerate/degenerate
examples/degenerate/degenerate2
examples/extra/box_cut
examples/extra/cut_region
examples/extra/irregular
examples/extra/superellipsoid
examples/interface/find_voro_cell
examples/interface/loops
examples/interface/odd_even
examples/interface/polygons
examples/walls/cylinder
examples/walls/frustum
examples/walls/tetrahedron
examples/walls/torus
_codeql_detected_source_root